[Unit]
Description=Report network_up to the OpenSchool server
After=network-online.target
Wants=network-online.target
# We are reporting that the network is up; don't run before it is.

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -m openschool.reporter.report network_up

[Install]
WantedBy=multi-user.target
